<%= simple_form_for [@phoneable, @phone], :html=> { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>

  <div class="form-group">
    <%= f.error_notification %>
  </div>
  
  <div class="form-group">
    <%= f.input :idd, :collection => Country.all, :label_method => :country_idd, :value_method => :idd, :label => "IDD", selected: "United Kingdom +44" %>
    <%= f.input :number %>
    <%= f.input :typ, label: "Type", collection: [ "Mobile", "Landline"], selected: "Mobile"%>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-md-6">
      <%= f.submit "Submit", class: "btn btn-default" %>
      <span class="dot-small">&#8226;</span>
      <%= link_to "Back", :back, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>

