<%= form_for [@organiserable, @organiser] do |organiser_form| %>
  <p>
    <%= organiser_form.label :name %><br />
    <%= organiser_form.text_field :name %>
  </p>

		<%= organiser_form.fields_for :phones do |phone_form| %>
			<%= render 'phone', phone_form: phone_form %>
	  <% end %>

	  <%= organiser_form.fields_for :addresses do |address_form| %>
			<%= render 'address', address_form: address_form %>
	  <% end %>

	  <%= organiser_form.fields_for :emails do |email_form| %>
			<%= render 'email', email_form: email_form %>
	  <% end %>
  
  <p><%= organiser_form.submit "Submit" %></p>

<% end %>
