<p>
  <%= address_form.label :line1 %><br />
  <%= address_form.text_field :line1 %>
</p>
<p>
  <%= address_form.label :line2 %><br />
  <%= address_form.text_field :line2 %>
</p>
<p>
  <%= address_form.label :postcode %><br />
  <%= address_form.text_field :postcode %>
</p>
<p>
  <%= address_form.label :city %><br />
  <%= address_form.text_field :city %>
</p>
<p>
  <%= address_form.label :state %><br />
  <%= address_form.text_field :state %>
</p>
<p>
  <%= address_form.label :country %><br />
  <%= address_form.text_field :country %>
</p>