<p>
  <%= phone_form.label :idd %><br />
  <%= phone_form.text_field :idd %>
</p>
<p>
  <%= phone_form.label :number %><br />
  <%= phone_form.text_field :number %>
</p>
<p>
  <%= phone_form.label :typ %><br />
  <%= phone_form.text_field :typ %>
</p>