<h3 class="page-header">
  <%= @client.name %> <span class="dot-small">&#8226;</span> <small><%= @client.class %></small>
  <div class="pull-right">
    <%= link_to new_client_event_path(@client) do %>
      <i class="icon-small fa fa-glass fa-lg"></i>
    <% end %>
    <span class="dot-small">&#8226;</span>
    <%= link_to edit_client_path(@client) do %>
      <i class="icon-small fa fa-pencil fa-lg"></i>
    <% end %>
    <span class="dot-small">&#8226;</span>
    <%= link_to new_client_organiser_path(@client) do %>
      <i class="icon-small fa fa-user-plus fa-lg"></i>
    <% end %>
  </div>
</h3>

<div class="row">
  <div class="col-md-2">
    <a href="#" class="thumbnail">
      <%= gravatar_tag @client.emails.last, size: 170 %>
    </a>
  </div>
  <div class="col-md-3">
    <table class="table table-condensed">
      <tr>
        <td>
          <i class="fa fa-envelope"></i>
            <% if @client.emails.count > 0 %>
              <%= @client.emails.last.email %>
            <% else %>
              <%= link_to "Add Email", new_client_email_path(@client) %>
            <% end %>
        </td>  
      </tr>
      <tr>
        <td>
          <i class="fa fa-phone"></i>
            <% if @client.phones.count > 0 %>
              <%= @client.phones.last.full_number %>
            <% else %>
              <%= link_to "Add Phone", new_client_phone_path(@client) %>
            <% end %>
        </td>  
      </tr>
      <tr>
        <td>
          <i class="fa fa-map-marker"></i>            
            <% if @client.phones.count > 0 %>
              <%= @client.addresses.last.display_address %>
            <% else %>
              <%= link_to "Add Address", new_client_address_path(@client) %>
            <% end %>
        </td>  
      </tr>
    </table>
  </div>
  <div class="col-md-5 pull-right">
    <table class="table table-condensed">
      <thead>
        <th class="text-center">Name</th>
        <th class="text-center">Date</th>
      </thead>
      <tbody class="text-center">
        <% @client.events.each do |e| %>
          <tr>
            <td>
              <% if e.venue_id != nil  %>
                <%= link_to e.name, [@client, e] %> @ <%= link_to e.venue.name, venue_path(e.venue)%> on <%= e.date.strftime("%d/%m/%y") %>
              <% end %>
            </td>
            <td>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<%= link_to "Events", client_events_path(@client) %><br><br>
<%= link_to "Organisers", client_organisers_path(@client) %> <br>