<%= month_calendar events: @events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
  <%= date.strftime("%d") %>
	<%= events.each do |e| %>
		<div>
			<% if e.venue_id != nil %>
				<%= link_to e.typ, client_event_path(e.client_id, e), data: {toggle: "tooltip"}, title: "#{e.name}'s #{e.typ}", rel: 'tooltip'%> @ <%= link_to e.venue.short_name, venue_path(e.venue_id) %>
			<% else %>
				<%= link_to e.typ, client_event_path(e.client_id, e) %>
			<% end %>
	  </div>
  <% end %>
<% end %>