<h3 class="page-header">
  Address
</h3>

<div class="col-md-6">
 
	<div class="row">
		<%= @address.line1 %>
	</div>
	<div class="row">
	  <%= @address.line2 %>
	 </div>
	<div class="row">
		<%= @address.postcode %>
	</div>
	<div class="row">
		<%= @address.city %>
	</div>
	<div class="row">
		<%= @address.state %>
	</div>
	<div class="row">
		<%= @address.country.name %>
	</div>

<br>

<div class="row">
  <%= link_to "Back", :back, :class => "btn btn-default" %>
</div>

</div>