<h3 class="page-header">
  Address<span class="dot-small">&#8226;</span> <small><%= @address.line1 %></small>
</h3>

<div class="row">
	<%= @address.line1 %><br>
  <%= @address.line2 %><br>
	<%= @address.postcode %><br>
	<%= @address.city %><br>
	<%= @address.state %><br>
	<%= @address.country.name %><br>
</div>