<%= form_for [@venue, @room] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
     <p>
    <%= f.label :layouts %><br />
    <%= f.text_area :layouts %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>